@import "tailwindcss";

@theme {
  --color-blueish-500: #1c3954;

  /* Black scale */
  --color-black-50: #f6f6f6;
  --color-black-100: #e7e7e7;
  --color-black-200: #cdcdcd;
  --color-black-300: #b3b3b3;
  --color-black-400: #7f7f7f;
  --color-black-500: #4c4c4c;
  --color-black-600: #1f1f1f;
  --color-black-700: #181818;
  --color-black-800: #121212;
  --color-black-900: #0b0b0b;
  --color-black-950: #050505;

  /* Red scale */
  --color-red-50: #fff5f5;
  --color-red-100: #ffe3e3;
  --color-red-200: #ffc9c9;
  --color-red-300: #ffa8a8;
  --color-red-400: #ff8787;
  --color-red-500: #ff6b6b;
  --color-red-600: #fa5252;
  --color-red-700: #f03e3e;
  --color-red-800: #e03131;
  --color-red-900: #c92a2a;
  --color-red-950: #a51111;
}
